@use '../../styles/buttons';
@use '../../styles/global' as *;
@use '../6_utils/modal/modal.module.scss' as *;

.account {
    @include flexCol;

    max-height: 300px;
    width: 300px;
    margin: 0 auto;

    transition: background-color 1s ease-in-out;

    @media only screen and (min-height: 450px) {
        height: 400px;
    }

    .text {
        height: 20%;
    }

    .btnContainer {
        @include flexCol;
        height: 70%;
        min-width: 90%;
    }
}

.miniOverlay {
    background-color: rgba(0, 255, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 2000;
    height: 100%;
    width: 100%;
}

.updateUser {

    & form {
        @include formStyle;

        height: 100%;

        & input {
            margin: 1rem;
        }

        .updateBtns {
            @include flexRow(space-around);
            width: 100%;
        }
    }
}

.deleteUser {
    @include flexCol;
    gap: 20px;

    width: 200px;
    height: 150px;

    .delBtns {
        @include flexRow(space-around);
        width: 100%;
    }
}
