@use '../../styles/buttons';
@use '../../styles/global' as *;

.account {
    @include flexCol;
    @extend %border;
    height: 340px;
    width: 350px;
    margin: 0 auto;
    padding: 2rem 0;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--div);
    box-shadow: var(--divShadow);

    transition: background-color 1s ease-in-out;

    .text {
        height: 20%;
    }

    .btnContainer {
        @include flexCol;
        height: 70%;
        min-width: 90%;
    }
}

.updateUser {
    
    & form {
        @include flexCol(space-between);
        height: 100%;
        width: 100%;

        & input {
            margin: 1rem;
            background-color: var(--textInput);
            color: var(--alt);
            border: solid $mainGrey 1px;
            border-radius: 8px;
            padding: 0.4em;
            font-family: $body;
        }

        .updateBtns {
            @include flexRow(space-around);
            width: 100%;
        }
    }
}

.deleteUser {
    @include flexCol;
    gap: 20px;

    width: 200px;
    height: 150px;
    
    .delBtns {
        @include flexRow(space-around);
        width: 100%;  
    }
}
