@use '../../styles/buttons';
@use '../../styles/modal';
@use '../../styles/global' as *;

.head {
    position: relative;
    background-image: url('../../assets/duk-img.jpg');
    background-size: cover;
    background-position: center;

    padding: 1rem;
    @extend %border;
    z-index: -2;

    display: grid;
    grid-template-areas: 'duk title sidebar';
    grid-template-columns: 25% 50% 25%;

    box-shadow: var(--divShadow);


    .overlay {
        position: absolute;
        inset: 0;
        border-radius: 4px;

        z-index: -1;
        transition: opacity 1s ease-in-out;
    }

    .darkOn {
        @include headerGradient(0);
        opacity: 1;
    }

    .darkOff {
        @include headerGradient(0);
        opacity: 0;
    }

    .lightOn {
        @include headerGradient(255);
        opacity: 1;
    }

    .lightOff {
        @include headerGradient(255);
        opacity: 0;
    }

    .duk {
        grid-area: duk;
    }

    .title {
        grid-area: title;

        color: var(--titleColor);
        text-shadow: 1px 1px 0 var(--titleShadow),
            -1px 1px 0 var(--titleShadow),
            1px -1px 0 var(--titleShadow),
            -1px -1px 0 var(--titleShadow);

        transition:
            text-shadow 1s ease-in-out,
            color 1s ease-in-out;

        span {
            color: var(--titleSpanColor);
            text-shadow: 1px 1px 0 var(--titleSpanShadow),
                -1px 1px 0 var(--titleSpanShadow),
                1px -1px 0 var(--titleSpanShadow),
                -1px -1px 0 var(--titleSpanShadow);

            transition:
                text-shadow 1s ease-in-out,
                color 1s ease-in-out;
        }

        font: {
            family: $title;
            size: 2.5rem;
            weight: 500;
        }

        @include flexRow;
    }

    .sidebar {
        grid-area: sidebar;
    }
}