@use '../../styles/buttons';
@use '../../styles/global' as *;

.head {
    @extend %border;

    position: relative;
    width: 100%;
    margin: 0 auto;
    box-shadow: var(--divShadow);
    padding: 0.5rem;
    z-index: -2;

    background-image: url('../../assets/duk-img.jpg');
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-areas: 'duk title sidebar';
    grid-template-columns: 25% 50% 25%;

    @media only screen and (min-width: 700px) and (min-height: 550px) {
        padding: 2rem;
    }

    .overlay {
        position: absolute;
        inset: 0;
        border-radius: 4px;
        z-index: -1;
        transition: opacity 1s ease-in-out;
    }

    .darkOn {
        @include headerGradient(12, 12, 20);
        opacity: 1;
    }

    .darkOff {
        @include headerGradient(12, 12, 20);
        opacity: 0;
    }

    .lightOn {
        @include headerGradient(255, 255, 255);
        opacity: 1;
    }

    .lightOff {
        @include headerGradient(255, 255, 255);
        opacity: 0;
    }

    .duk {
        grid-area: duk;
        @include flexRow(flex-start);
    }

    .title {
        @include flexRow;

        grid-area: title;

        color: var(--titleColor);
        text-shadow: 1px 1px 0 var(--titleShadow),
            -1px 1px 0 var(--titleShadow),
            1px -1px 0 var(--titleShadow),
            -1px -1px 0 var(--titleShadow);

        transition:
            text-shadow 1s ease-in-out,
            color 1s ease-in-out;

        font: {
            family: $title;
            weight: 500;
            size: clamp(2.5rem, 4.5vw, 6rem)
        }

        span {
            color: var(--titleSpanColor);
            text-shadow: 1px 1px 0 var(--titleSpanShadow),
                -1px 1px 0 var(--titleSpanShadow),
                1px -1px 0 var(--titleSpanShadow),
                -1px -1px 0 var(--titleSpanShadow);

            transition:
                text-shadow 1s ease-in-out,
                color 1s ease-in-out;
        }
    }

    .sidebar {
        grid-area: sidebar;
    }
}