@use './global' as *;

.btn1 {
    cursor: pointer;
    position: relative;
    line-height: 1.5;
    width: 100%;
    padding: 0.8rem 0.16rem;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    transform: scale(1);
    color: black;
    background-color: var(--btn1);

    transition:
        color 0.4s ease-in-out,
        transform 0.1s ease-in-out,
        background-color 0.4s ease-in-out;

    font: {
        family: $body;
        size: 1.6rem;
        weight: 700;
    }

    &:focus-visible {
        @extend %focusVisible;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.02);
            background-color: var(--btn1Hover);
        }
    }

    &:active {
        transform: scale(0.98);
        background-color: var(--btn1Hover);
    }
}

.btn2 {
    @extend .btn1;
    color: white;
    background-color: $mainGrey;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: $mainGreyHover;
        }
    }

    &:active {
        background-color: $mainGreyHover;
    }
}

.btn3 {
    @extend .btn1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    @include flex(row, center, center);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1);
            background-color: rgba(0, 0, 0, 0.25);
        }
    }

    &:active {
        transform: scale(0.9);
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.circleBtn {
    @extend .btn3;
    background-color: var(--btn1);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1);
            background-color: var(--btn1Hover);
        }
    }

    &:active {
        background-color: var(--btn1Hover);
        transform: scale(0.9);
    }

    & img {
        transition: translate 0.4s ease;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}