@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

$title: 'Saira Semi Condensed', sans-serif;
$body: 'Roboto', sans-serif;

$mainGrey: rgb(102, 102, 102);
$mainGreyHover: rgb(72, 72, 72);
$borderColor: rgb(136, 136, 136);

@mixin flexCol($space: space-around) {
    display: flex;
    flex-direction: column;
    justify-content: $space;
    align-items: center;
}

@mixin flexRow($space: center) {
    display: flex;
    flex-direction: row;
    justify-content: $space;
    align-items: center;
}

@mixin headerGradient($col) {
    background: linear-gradient(90deg,
            rgba($col, $col, $col, 1) 0%,
            rgba($col, $col, $col, 1) 25%,
            rgba($col, $col, $col, 0.5) 75%,
            rgba($col, $col, $col, 0.1) 100%);
}

@mixin formStyle {
    @include flexCol;
    height: 80%;
    width: 100%;

    & input {
        max-width: 90%;
        background-color: var(--textInput);
        color: var(--alt);
        border: solid $mainGrey 1px;
        border-radius: 8px;
        padding: 0.4em;
        font-family: $body;
    }
}

%border {
    border: solid, $borderColor 4px;
    border-radius: 8px;
}