 @use './buttons';
 @use './global' as *;

 .modalOverlay {
   position: fixed;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 1000;
   height: 100%;
   width: 100%;
 }

 .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   z-index: 1001;

   @extend %border;
   @include flexCol;

   min-width: 180px;
   min-height: 150px;

   text-align: center;

   background-color: var(--main);
   color: var(--alt);

   padding: 1em;
 }