.Home {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-areas: 'Header' 'main';
    grid-template-rows: auto 1fr;
    gap: 10px;
    padding: 10px;

     @media (orientation: landscape) {
        max-height: 100vh;
     }
}

.Header {
    grid-area: Header;
}

.main {
    grid-area: main;

    display: grid;
    grid-template-areas: 'AddTask' 'TaskList';
    grid-template-rows: auto 1fr;
    gap: 10px;

    @media (orientation: landscape) {
         grid-template-areas: 'AddTask TaskList';
         grid-template-columns: auto 1fr;
    }
}


.AddTask {
    grid-area: AddTask;
    border: solid red 1px;
}

.TaskList {
    grid-area: TaskList;
    border: solid red 1px;
}