.Home {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-areas: 'Header' 'main';
    grid-template-rows: auto 1fr;
    gap: 10px;
    padding: 10px;

    @media (orientation: landscape) {
        max-height: 100vh;
    }
}

.Header {
    grid-area: Header;
    box-shadow: var(--divShadow);
    transition: box-shadow 0.6s ease-in-out;
}

.main {
    grid-area: main;
    height: 100%;

    display: grid;
    grid-template-areas: 'AddTask' 'TaskList';
    grid-template-rows: auto 1fr;
    gap: 10px;

    @media (orientation: landscape) {
        grid-template-areas: 'AddTask TaskList';
        grid-template-columns: 40% 1fr;
        grid-template-rows: auto;
    }
}

.AddTask {
    grid-area: AddTask;
    box-shadow: var(--divShadow);
    transition: box-shadow 0.6s ease-in-out;
}

.TaskList {
    grid-area: TaskList;
    box-shadow: var(--divShadow);
    transition: box-shadow 0.6s ease-in-out;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.5);
}