@use '../../../styles/buttons';
@use '../../../styles/global' as *;

.PrioritiseTasks {
    @include flex;

    & button {
        width: 40px;
        height: 40px;

        & img {
            width: 70px;
            position: relative;
        }
    }
}