@use '../../../styles/buttons';
@use '../../../styles/global' as *;

.PrioritiseTasks {
    @include flex;

    & button {
        width: 35px;
        height: 35px;

        & img {
            width: 65px;
            position: relative;
        }
    }
}