@use '../../../styles/global' as *;
@use '../../../styles/buttons';

.authForm {
    @include flex;
    height: 100%;
    width: 240px;

    .inputs {
        @include formInputStyle;
        height: 100%;
        width: 100%;
        padding: 1.6rem 0;
    }

    .buttons {
        @include flex;
        height: auto;
        width: 100%;

        & button {
            margin-top: 8px;
        }
    }
}