@use '../../../styles/buttons';
@use '../../../styles/global' as *;

.MainModal {
    position: fixed;
    z-index: 9100;
    height: fit-content;
    width: fit-content;
    @extend %border;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main);
}

.InnerModal {
    @extend .MainModal;
    z-index: 9200;
}

.FeedbackModal {
    @extend .MainModal;
    z-index: 9300;

    min-width: 200px;
    min-height: 150px;

    padding: 1rem 2rem;
    @include flex;
}