@use '../../../styles/global' as *;
@use '../../../styles/buttons';

.Account {
    width: clamp(280px, 80vw, 500px);
    height: clamp(300px, 80vh, 500px);
    padding: 1.6rem 2rem 1rem 2rem;

    & header {
        padding-bottom: 3.2rem;
        height: 30%;

        @include flex(column, center);

        & h3 {
            line-height: 3;

            font: {
                size: 2rem;
                weight: 600;
            }
        }
    }

    & nav {
        @include flex;
        gap: 1.2rem;

        height: 70%;
        width: 100%;
    }

    @media (orientation:landscape) and (max-height: 400px) {
        padding: 1rem 2rem;

        & header {
            padding-bottom: 1.2rem;

            & h3 {
                line-height: 2;
            }
        }
    }
}

.homeBtn {
    @extend .circleBtn;
    background-color: var(--btn1);
    width: 40px;
    height: 40px;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--btn1Hover);
        }
    }

    &:active {
        background-color: var(--btn1Hover);
        transform: scale(0.9);
    }

    & img {
        position: relative;
        width: 25px;
        top: 46%;
        transform: translateY(-50%);
        transition: translate 0.2s ease;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: translateY(-50%) scale(1.1);
            }
        }
    }
}