@use '../../../styles/global' as *;
@use '../../../styles/buttons';

.NotFound {
    @include flex;

    position: relative;
    width: 100%;
    min-height: 100vh;

    background-image: url(../../../assets/duk-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
    }

    & div {
        @include flex(column, space-between);
        gap: 12px;
        @extend %border;
        background-color: var(--main);
        color: var(--alt);
        width: fit-content;
        height:fit-content;
        padding: 1.6rem 2rem;
        z-index: 3;
    }
}