body.dark {
  --main: rgb(12, 12, 20);
  --alt: white;

  --div: rgba(0, 0, 0, 0);
  --divShadow: none;

 // --taskHead: rgb(102, 102, 102);
  --taskBody: rgb(32, 32, 40);

  --textInput: black;

  --btn1: rgb(255, 255, 0);
  --btn1Hover: rgb(225, 225, 0);
}

body.light {
  --main: rgb(240, 240, 248);
  --alt: black;

  --div: white;
  --divShadow: 0 6px 12px grey;

 // --taskHead: rgb(102, 102, 102);
  --taskBody: rgb(240, 240, 248);

  --textInput: white;

  --btn1: rgb(0, 180, 255);
  --btn1Hover: rgb(0, 150, 225);
}

* {
  box-sizing: border-box;
}



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  ;
}

body {
  font: {
    family: 'Roboto';
    size: 1.6rem
  }
  background-color: var(--main);
  color: var(--alt);
  text-align: center;
  line-height: 1.5;
}