 @use '../../../styles/buttons';
 @use '../../../styles/global' as *;

 .modalOverlay {
   position: fixed;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 1000;
   height: 100%;
   width: 100%;
 }

 .modal {
   @extend %border;
   @include flexCol;
   gap: 20px;

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   z-index: 1001;
   width: fit-content;
   height: fit-content;
   max-width: 90vw;
   max-height: 50vh;
   text-align: center;
   background-color: var(--main);
   color: var(--alt);
   padding: 1.5rem;

   overflow-wrap: anywhere;
   white-space: normal;
 }